@model EmployeeManagementSystem.Models.Employee
@{
    ViewData["Title"] = "Create";
}

<h3>Add Employee</h3>
<form method="post" asp-action="Create" asp-controller="Employee">
    <div class="container">
        <div class="row mb-3">
            <label class="col-form-label">Employee ID</label>
            <input class="form-control" type="text" asp-for="EmployeeID"/>
        </div>
        <div class="row mb-3">
            <label class="col-form-label">Full Name</label>
            <input class="form-control" type="text" asp-for="FullName" />
        </div>
        <div class="row mb-3">
            <label class="col-form-label">Department</label>
            <input class="form-control" type="text" asp-for="Department" />
        </div>
        <div class="row mb-3">
            <label class="col-form-label">Position</label>
            <input class="form-control" type="text" asp-for="Position" />
        </div>
        <div class="row mb-3">
            <label class="col-form-label">Date Hired</label>
            <input class="form-control" type="date" asp-for="DateHired" />
        </div>
        <button class="btn btn-primary" type="submit">Add Employee</button>
        <a asp-action="Index" asp-controller="Employee">Back to List</a>
    </div>
</form>
